<div class="add-contact page">
    <section class="section has-text-centered">
        <div class="container">
            <div class="columns is-vcentered is-flex is-100vh">
                <div class="column is-12">
                    <h1 class="title is-size-1">
                        Add Contact
                    </h1>
                    <form class="contact-form" [formGroup]="addContactForm">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input type="text" class="input is-medium" required formControlName="name">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input type="text" class="input is-medium" required formControlName="email">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Phone</label>
                            <div class="control">
                                <input type="text" class="input is-medium" formControlName="phone">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Address</label>
                            <div class="control">
                                <input type="text" class="input is-medium" formControlName="address">
                            </div>
                        </div>

                        <div class="field is-grouped-centered">
                            <button type="button" class="button is-success" (click)="createContact()"
                                [disabled]="!addContactForm.valid">Submit</button>
                            <button type="button" class="button is-success is-danger" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>