<div class="edit-contact page">
  <section class="section has-text-centered">
    <div class="container">
      <div class="columns is-vcentered is-flex is-100vh">
        <div class="column is-12">
          <form [formGroup]="editContactForm">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input type="text" formControlName="name">
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input type="text" formControlName="email">
              </div>
            </div>

            <div class="field is-grouped-centered">
                <button class="button is-success" (click)="editContact()" [disabled]="editContactForm.pristine">Submit</button>
                <button class="button is-success is-danger" (click)="cancel()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
