@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

@import 'fish-styles/all';

.button {
    margin: 0.25rem;
    font-size: $size-6;
    font-weight: $weight-semibold;
}

.is-flex {
    display: flex;
}

.is-100vh {
    height: 100vh;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
}

.contact-form input {
    max-width: 30rem;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 50%;
}

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/form/shared.sass";
@import "bulma/sass/form/select.sass";
@import "bulma/sass/form/tools.sass";
@import "bulma/sass/form/input-textarea.sass";
