<div class="view-contacts page">
    <section class="section has-text-centered">
        <div class="container">
            <div class="columns is-vcentered is-flex is-100vh">
                <div class="column is-12">
                    <h1 class="is-size-1">
                        Contacts
                    </h1>

                    <div *ngIf="loadedContacts">
                        <p-virtualScroller [value]="virtualContacts" scrollHeight="500px" [itemSize]="150" [rows]="25"
                            [lazy]="true" (onLazyLoad)="lazyLoadContacts($event)">

                            <p-header>
                                <button class="button is-success" (click)="goToAddContact()">Add Contact</button>
                            </p-header>

                            <ng-template pTemplate="item" let-contact>
                                <div class="columns is-vcentered is-flex contact-info">
                                    <div class="column is-2">{{contact.id}}</div>

                                    <div class="column is-3">
                                        <p class="is-size-5">
                                            Name: {{contact.name}}
                                        </p>
                                        <p class="is-size-5">
                                            Email: {{contact.email}}
                                        </p>
                                    </div>

                                    <div class="column is-2">
                                        <button class="button is-success" (click)="editContact(contact)">Edit</button>

                                        <ng-template class="button-spacer"></ng-template>

                                        <button class="button is-danger" (click)="deleteContact(contact)">Delete</button>
                                    </div>

                                    <div class="column is-3">
                                        <p class="is-size-5" *ngIf="contact.phone">
                                            Phone: {{contact.phone}}
                                        </p>

                                        <p class="is-size-5" *ngIf="contact.address">
                                            Address: {{contact.address}}
                                        </p>
                                    </div>

                                    <div class="column is-2"></div>
                                </div>
                            </ng-template>

                            <ng-template let-contact pTemplate="loadingItem">
                                Loading...
                            </ng-template>
                        </p-virtualScroller>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>