/*
Variables that derive from those declared in initial.scss belong here
*/

// Colors
$primary: $green;
$success: $green;
$warning: $orange;
$info: $blue;
$danger: $red;

// Text colors
$text: $gray-darker;

// Link colors
$link: $aqua;
$link-hover: $aqua-darker;

// Colors
$colors: (
  "white": ($white),
  "black": ($black),
  "green": ($green),
  "blue": ($blue),
  "yellow": ($yellow),
  "red": ($red),
  "purple": ($purple),
  "gray": ($gray),
  "orange": ($orange),
  "aqua": ($aqua),
  "primary": ($primary),
  "link": ($link),
  "info": ($info),
  "success": ($success),
  "warning": ($warning),
  "danger": ($danger),
);

$shades: (
  "green-light": $green-light,
  "green-lighter": $green-lighter,
  "green-lightest": $green-lightest,
  "green-super-light": $green-super-light,
  "green-dark": $green-dark,
  "green-darker": $green-darker,
  "green-darkest": $green-darkest,
  "gray-light": $gray-light,
  "gray-lighter": $gray-lighter,
  "gray-lightest": $gray-lightest,
  "gray-super-light": $gray-super-light,
  "gray-dark": $gray-dark,
  "gray-darker": $gray-darker,
  "gray-darkest": $gray-darkest,
  "orange-light": $orange-light,
  "orange-lighter": $orange-lighter,
  "orange-lightest": $orange-lightest,
  "orange-super-light": $orange-super-light,
  "orange-dark": $orange-dark,
  "orange-darker": $orange-darker,
  "orange-darkest": $orange-darkest,
  "blue-light": $blue-light,
  "blue-lighter": $blue-lighter,
  "blue-lightest": $blue-lightest,
  "blue-super-light": $blue-super-light,
  "blue-dark": $blue-dark,
  "blue-darker": $blue-darker,
  "blue-darkest": $blue-darkest,
  "aqua-light": $aqua-light,
  "aqua-lighter": $aqua-lighter,
  "aqua-lightest": $aqua-lightest,
  "aqua-super-light": $aqua-super-light,
  "aqua-dark": $aqua-dark,
  "aqua-darker": $aqua-darker,
  "aqua-darkest": $aqua-darkest,
  "yellow-light": $yellow-light,
  "yellow-lighter": $yellow-lighter,
  "yellow-lightest": $yellow-lightest,
  "yellow-super-light": $yellow-super-light,
  "yellow-dark": $yellow-dark,
  "yellow-darker": $yellow-darker,
  "yellow-darkest": $yellow-darkest,
  "red-light": $red-light,
  "red-lighter": $red-lighter,
  "red-lightest": $red-lightest,
  "red-super-light": $red-super-light,
  "red-dark": $red-dark,
  "red-darker": $red-darker,
  "red-darkest": $red-darkest,
  "purple-light": $purple-light,
  "purple-lighter": $purple-lighter,
  "purple-lightest": $purple-lightest,
  "purple-super-light": $purple-super-light,
  "purple-dark": $purple-dark,
  "purple-darker": $purple-darker,
  "purple-darkest": $purple-darkest,
);

// Typography
$family-primary: $family-sans-serif;

// This defines our custom sizes so we can do .is-size-8 and .is-size-9 etc.
$sizes: $size-1, $size-2, $size-3, $size-4, $size-5, $size-6, $size-7, $size-8, $size-9;
