/*
Initial(aka literal) variables are declared here.  They are then derived from in the _derived.scss file.
For example, we declare $green in here.  Then in the _derived.scss file we can do $primary = $green;
*/

// Colors
$white: #fff;
$black: #000;

$gray-lightest: #eceff1;
$gray-lighter: #cfd8dc;
$gray-light: #b0bec5;
$gray: #90a4ae;
$gray-dark: #718792;
$gray-darker: #455a64;
$gray-darkest: #1c313a;

$green-light: #8ddb56;
$green: #50a000;
$green-dark: #438500;

$orange-light: #ffa726;
$orange: #ff9800;
$orange-dark: #e96100;

$blue-light: #3462ae;
$blue: #17489e;
$blue-dark: #17489e;

$yellow-light: #fae64e;
$yellow: #f5d80c;
$yellow-dark: #e0ad09;

$red-light: #d32f2f;
$red: #a91818;
$red-dark: #7f0000;

$purple-light: #ce93d8;
$purple: #7b1fa2;
$purple-dark: #4a0072;

// Typography
$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.75rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-semibold: 600;
$weight-bold: 700;
$weight-normal: 500;
$weight-light: 400;

$family-sans-serif: "Open Sans", "Helvetica Neue", sans-serif;